# Crufty EXTs 
poetry.lock
.env
.vscode
*.out
*.bak
*.log
*.sh
**/__pycache__/**
**/.DS_Store


# Local sandbox environments
playground/
outputs/
dump/
sciphi/_version.py
textbooks/

# Scraped data
sciphi/library_of_phi/raw_data/

# Built Docs
docs/build
