# Local cruft and other
poetry.lock
.env
*.bak
**/__pycache__/**
**/.DS_Store
storeage/

# Local sandbox environments
playground/
outputs/

# Scraped data
sciphi/examples/library_of_phi/raw_data/scraped_ocw.jsonl
sciphi/examples/library_of_phi/raw_data/yaml_step_1/*yaml
